.bottom-details {
    height: 100vh;
    background: rgba(#000, 0.5);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    color: #fff;

    &__container {
        position: absolute;
        bottom: 0;
        left: 0;
        background: #fff;
        padding: 1.5rem 1rem ;
        width: 100%;
        color: #000;
        border-radius: 2rem 2rem 0 0;
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;

        img {
            width: 80%;
        }
    }

    &__title {
        font-size: 1.8rem;
        margin-bottom: 0.8rem;
    }

    &__paragraph {
        margin-bottom: 0.8rem;
    }

    &__price {
        font-size: 1.5rem;
        color: #205E54;
        margin-bottom: 1rem;

        span {
            font-size: 0.8rem;
        }
    }

    &__add-cart {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;

        li {
            background: #ECECEC;
            color: #205E54;
            padding: 0.5rem 1rem;
            text-align: center;

            &:nth-child(2) {
                flex: 1;
            }
        }

    }

    &__topbar {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        div {
            height: 0.7rem;
            background: #D9D9D9;
            width: 50%;
            border-radius: 2rem;
        }

    }
}